body {
    background-color: lightgrey;
}

.container {
    display: flex;
    /* background-color: red; */
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.box {
    background-color: rgb(50, 46, 46);
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 50%;
    justify-content: space-between;
}

.first {
    display: flex;
    height: 14%;
}

.signup {
    width: 50%;
    cursor: pointer;
    outline: none;
    border: none;
    background-color: gray;
}

a {
    text-decoration: none;
    color: white;
}

.login {
    width: 50%;
    cursor: pointer;
    outline: none;
    border: none;
    background-color: gray;
}

.second {
    display: flex;
    /* background-color: aqua; */
    align-items: center;
    height: 18%;
}

.firstBox {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 50%;
    /* background-color: beige; */
    height: 100%;
}

.name {
    /* background-color: brown; */
    display: flex;
    align-items: start;
    width: 70%;
    height: 100%;
    color: white;
}

.secondBox {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 50%;
    height: 100%;
}

.third {
    display: flex;
    flex-direction: column;
    /* background-color: red; */
    align-items: center;
    height: 18%;
}

.email {
    width: 85%;
    height: 100%;
    color: white;
}

.fourth {
    display: flex;
    flex-direction: column;
    /* background-color: green; */
    align-items: center;
    height: 18%;
}

.password {
    width: 85%;
    height: 100%;
    color: white;
}

.fifth {
    height: 14%;
}

.signupButton {
    /* background-color: yellow; */
    width: 100%;
    height: 100%;
    cursor: pointer;
    outline: none;
    border: none;
}