/* styles.css */

/* Footer Styles */
footer {
    background-color: lightgray;
    text-align: center;
    margin-top: auto;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  
  /* Header Styles */
  .header {
    border: 2px solid orange;
    text-align: center;
  }
  
  .header button {
    margin: 10px;
  }
  
  /* Main Styles */
  .main-container {
    text-align: center;
    padding: 20px;
  }
  
  .main-container .image-wrapper {
    display: flex;
    gap: 10px;
    justify-content: space-around;
    width: 100%;
  }
  
  .main-container img {
    width: auto;
    height: 250px;
  }
  
  .main-container table {
    margin: auto;
    margin-top: 50px;
    border-collapse: collapse;
    width: 50%;
  }
  
  .main-container th, .main-container td {
    border: 2px solid black;
    padding: 8px;
    text-align: center;
  }
  
  /* Modal Styles */
  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: lightgrey;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .modal-content input {
    width: 200px;
    padding: 8px;
    margin: 10px 0;
  }
  
  .modal-content button {
    padding: 10px 20px;
    margin-top: 10px;
  }
  
  /* Navbar Styles */
  nav {
    background-color: lightblue;
    text-align: left;
    padding: 10px 0;
    height: 40px;
    display: flex;
    align-items: center;
  }
  
  nav a {
    margin: 10px;
  }
  